* {
    margin: 0;
    padding: 6px;  
    box-sizing: border-box;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #fff7e9;
}
header {
    padding: 20px 35px;
    background-color: #000000;
    margin: 0 0 10px 0;
  }
  
  header h1 {
    font-weight: lighter;
    font-size: 36px;
    color: #d6d6d6;
    margin: 0;
    display: inline;
  }
  header span {
      font-weight: 900;
      color: tomato;
  }
  header a {
    text-decoration: none;
    color: #cacaca;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 20px;
    font-weight: normal;
    font-size: 22px;
  }

  .hero { 
    background-image: url("../images/hero-bg.jpeg");
    background-color: tomato;
    height: 200px;
    background-position: center;
    background-size: cover;
  }

.hero h2 {
    font-size: 2.5em;
    float: right;
    padding: 120px 30px 20px 0;
    color: rgba(255, 255, 255, 0.781);
}

.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;  
    width: 70%;
}

.portfolio-section h3 {  
    font-size: 30px;
    margin: 30px 10px 0 0;
}

.left-column {
    border-radius: 0;
    flex: 1 1 20%;
    min-width: 130px;
    border-style: solid;
    border-width: 0 5px 0 0;
    border-color: tomato;
    margin: 0 0 20px 0;
    text-align: right;
}

.right-column {
    flex: 1 1 80%;
    padding: 0 0 0 20px;   
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.right-column p {
    padding: 20px 20px 20px 0;
}
.work-sample {
    flex: 1;
    margin: 7px;
    min-width: 260px;
    min-height: 60px;
    border-style: solid;
    border-color: tomato;
    border-width: thin;
}

.work-sample-hero {
    flex-grow: 4;
    margin: 7px;
    min-width: 90%;
    min-height: 60px;
    border-style: solid;
    border-color: tomato;
    border-width: thin;
}